{% extends 'base_layout.html'%}

{% block content %}
{% load static from staticfiles %}
      <button id="details" style="float:left; margin-left: 10%; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); font-family: 'Montserrat', sans-serif;font-size: 20px;background-color: green; color:white;">
      <a style="text-decoration:none; color:white;" href="/sell/sell-list"><i class="fas fa-arrow-circle-left"></i> Back to sells' list</a></button><br />

      <h1>Sell here</h1>

      <h2 style="margin-bottom: 3%;"> What do you want to sell? </h2>

      <form action="/sell/publish/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="length" value=8>
        {% csrf_token %}
        <label><b>Location</b></label>
        <select style="margin-bottom:1%; font-size:20px; font-family: 'Montserrat', sans-serif;" id="cars" name="location">
          {% for location in locations %}
            <option  value="{{location.name}}">{{location.name}}</option>
          {% endfor %}
        </select>

        <div id="product-1" style="margin-bottom:1%;">
          <label><b>Product</b></label>
          <select id="cars" style="font-size:20px; font-family: 'Montserrat', sans-serif;" name="product">
            {% for product in products %}
              <option value="{{product.name}}">{{product.name}}</option>
            {% endfor %}
          </select>
          <label><b>Quantity</b></label>
          <input type="number" value="1" name="quantity">
          <br />
        </div>

        <div id="product-2" style="display:none; margin-bottom:1%;">
          <label><b>Product</b></label>
          <select id="cars" style="font-size:20px; font-family: 'Montserrat', sans-serif;" name="product-1">
            {% for product in products %}
              <option value="{{product.name}}">{{product.name}}</option>
            {% endfor %}
          </select>
          <label><b>Quantity</b></label>
          <input type="number" name="quantity-1">
          <button type="button" id="undo-1" onclick="undo()" style="display: visible ;font-size: 25px; font-family: 'Montserrat', sans-serif; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: orange; color:white; margin-top:1%;">Undo</button>
          <br />
        </div>

        <div id="product-3" style="display:none; margin-bottom:1%;">
          <label><b>Product</b></label>
          <select id="cars" style="font-size:20px; font-family: 'Montserrat', sans-serif;" name="product-2">
            {% for product in products %}
              <option value="{{product.name}}">{{product.name}}</option>
            {% endfor %}
          </select>
          <label><b>Quantity</b></label>
          <input type="number" name="quantity-2">
          <button type="button" id="undo-2" onclick="undo()" style="font-size: 25px; font-family: 'Montserrat', sans-serif; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: orange; color:white; margin-top:1%;">Undo</button>
          <br />
        </div>


        <div id="product-4" style="display:none; margin-bottom:1%;">
          <label><b>Product</b></label>
          <select id="cars" style="font-size:20px; font-family: 'Montserrat', sans-serif;" name="product-3">
            {% for product in products %}
              <option value="{{product.name}}">{{product.name}}</option>
            {% endfor %}
          </select>
          <label><b>Quantity</b></label>
          <input type="number" name="quantity-3">
          <button type="button" id="undo-3" onclick="undo()" style="font-size: 25px; font-family: 'Montserrat', sans-serif; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: orange; color:white; margin-top:1%;">Undo</button>
          <br />
        </div>

        <div id="product-5" style="display:none; margin-bottom:1%;">
          <label><b>Product</b></label>
          <select id="cars" style="font-size:20px; font-family: 'Montserrat', sans-serif;" name="product-4">
            {% for product in products %}
              <option value="{{product.name}}">{{product.name}}</option>
            {% endfor %}
          </select>
          <label><b>Quantity</b></label>
          <input type="number" name="quantity-4">
            <button type="button" id="undo-4" onclick="undo()" style="font-size: 25px; font-family: 'Montserrat', sans-serif; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: orange; color:white; margin-top:1%;">Undo</button>
          <br />
        </div>

        <input type="submit" style="font-size: 25px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: lightblue; color:white; margin-top:3%;" value="Publish ad" />
      </form> <br />
      <b style="font-size: 30px;">OR</b><br />
      <button id="add" onclick="changeContent()" style="font-size: 25px; font-family: 'Montserrat', sans-serif; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: lightpink; color:white; margin-top:1%;">Sell other product</button><br />


      </div>


      <script>

      var click=0;

        function changeContent(){
          click+=1;
          if(click==1){
            document.getElementById("product-2").style.display="block";
            document.getElementById("undo-1").style.display="visible";
          }
          if(click==2){
            document.getElementById("product-3").style.display="block";
            document.getElementById("undo-1").style.display="none";
            document.getElementById("undo-2").style.display="visible";
          }
          if(click==3){
            document.getElementById("product-4").style.display="block";
            document.getElementById("undo-2").style.display="none";
            document.getElementById("undo-3").style.display="visible";
          }
          if(click==4){
            document.getElementById("product-5").style.display="block";
            document.getElementById("undo-3").style.display="none";
            document.getElementById("undo-4").style.display="visible";
          }

        }

        function undo(){
          if(click==1){
            document.getElementById("product-2").style.display="none";
            click-=1;
          }
          if(click==2){
            document.getElementById("undo-1").style.display="inline";
            document.getElementById("product-3").style.display="none";
            click-=1;
          }
          if(click==3){
            document.getElementById("undo-2").style.display="inline";
            document.getElementById("product-4").style.display="none";
            click-=1;
          }
          if(click==4){
            document.getElementById("undo-3").style.display="inline";
            document.getElementById("product-5").style.display="none";
            click-=1;
          }

        }

      </script>
{% endblock %}
