{% extends 'base_layout.html'%}

{% block content %}

      <h1>Hello {{user.username}}</h1>
      <h3>You can modify your infos here</h3>

      <form  method="post" enctype="multipart/form-data">
        <input type="hidden" name="length" value=8>
        {% csrf_token %}
        <label ><b>Name:</b></label>
        <input style="margin-bottom:2%;" type="text" name="firstname"  value="{{user.first_name}}"><br>
        <label><b>Surname:</b></label>
        <input style="margin-bottom:2%;" type="text" name="lastname"  value="{{user.last_name}}"><br>
        <label ><b>Username:</b></label>
        <input style="margin-bottom:2%;" type="text" name="username"  value="{{user.username}}"><br>
        <label ><b>Change password:</b></label>
        <input style="margin-bottom:2%;" type="text" name="password" ><br>
        <input type="submit" style="font-size: 25px;  margin-top: 3%; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color:orange; color:white;" value="Modify" />
      </form>

{% endblock %}
