{% extends 'base_layout.html'%}

{% block content %}
{% load static from staticfiles %}
      <div class="container" >
        <h1 style="font-size: 40px;">AbastoSimple</h1>

        <div class="text" >
          <div class="element">
            <h5><img style="padding-right:15px" height=15 src="https://img.icons8.com/wired/64/000000/cursor.png"/>On the map, see where to shop.</h5>
          </div>
          <div class="element">
            <h5> <img style="padding-right:15px" height=15 src="https://img.icons8.com/wired/64/000000/search.png"/>Click on a location for details.</h5>
          </div>
          <div class="element">
            <h5> <img style="padding-right:15px" height=15 src="https://img.icons8.com/wired/64/000000/speech-bubble.png"/>Publish ads to inform people what you're selling.</h5>
          </div>

          <div style="text-align:center">
          <form style="font-size: 15px;"   action="javascript:getslug(this)"  method="post" enctype="multipart/form-data">
            <input type="hidden" name="length" value=8>
            {% csrf_token %}
            <label>Look for one product:</label>
            <select id="cars" style="font-family: 'Montserrat', sans-serif;" name="product">
              {% for product in products %}
                <option value="{{product.name}}">{{product.name}}</option>
              {% endfor %}
            </select>

            <input type="submit" style="font-size: 15px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: lightgreen; color:white; margin-top:3%;" value="Go" />
          </form>
          <button type="button"  onclick="reset()" style="font-size: 15px; font-family: 'Montserrat', sans-serif; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: orange; color:white; margin-top:1%;">Reset</button>
          </div><br>



          <div id='map' style='height: 300px; width:1000px;'></div>
        </div>

      </div>

      <script>
      mapboxgl.accessToken = '{{token}}';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [2.34, 48.85],
      zoom: 4,
      });

      var locations_list = [
         {% for loc in locations %}
             {% if not forloop.first %},{% endif %}
             {
                 name: "{{ loc.name }}",
                 slug: "{{ loc.slug }}",
                 north: "{{ loc.north_coordinate }}",
                 east: "{{loc.east_coordinate}}"
             }
         {% endfor %}
       ];

    var sell_list= [
       {% for sellpair in sellpairs %}
           {% if not forloop.first %},{% endif %}
           {
               product: "{{ sellpair.product }}",
               quantity: "{{ sellpair.quantity }}",
               slug:"{{ sellpair.slug }}",
               location: "{{sellpair.sell.location}}"
           }
       {% endfor %}
     ];

    var index=0;
    while(index<locations_list.length){
      var content="";
      loc=locations_list[index];

      for (let i = 0; i < sell_list.length; i++) {
            var sell=sell_list[i];
            if (sell.location === loc.name){
              content+="<a class='product' href='/sell/"+sell.slug+"'>"+sell.product+"("+sell.quantity+") </a><br>";
            }
        }
      var link="/locations/"+loc.slug;
      var acontent="<a class='visit' href='"+link+"'> Visit store </a>";
      console.log(acontent)


      content+=acontent;
      console.log(content);


      new mapboxgl.Marker()
      .setLngLat([loc.east, loc.north])
      .addTo(map)
      .setPopup(new mapboxgl.Popup().setHTML(content));

      index++;
      }



 //console.log(locations_list[0]);
 console.log(sell_list);

    function getslug(){
      slug=document.getElementById("cars").value;
      window.location.href="/byproduct/"+slug;

    }

    function reset(){
        //window.location.href="/homepage";
        slug=document.getElementById("cars").value;
        ref="/homepage/byproduct/"+slug;
        console.log(ref);

    }




      </script>
{% endblock %}
