{% extends 'base_layout.html'%}

{% block content %}
{% load static from staticfiles %}
      <h1>Products sold on the platform</h1>


      <button id="details" style="font-family: 'Montserrat', sans-serif;font-size: 20px;background-color: green; color:white; margin-bottom: 5%;">
      <a style="text-decoration:none; color:white;" href="/products/products-list"><i class="fas fa-arrow-circle-left"></i> Back to products' list</a></button>
      <h2> What product do you want to add ? </h2>
      <form action="/products/publish/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add" />
      </form>





      </div>
{% endblock %}
