{% extends 'base_layout.html'%}

{% block content %}
{% load static from staticfiles %}
      <h1>Details of the location</h1>

      <button id="details" style="font-family: 'Montserrat', sans-serif;font-size: 20px;background-color: green; color:white; margin-bottom: 5%;">
      <a style="text-decoration:none; color:white;" href="/locations/locations-list"><i class="fas fa-arrow-circle-left"></i> Back to locations' list</a></button>



      <form action="{% url 'locations:location_details' slug=location.slug %}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="length" value=8>
        {% csrf_token %}
        <label>Name</label>
        <input type="text" name="name"  value="{{location.name}}">
        <label>North coordinate</label>
        <input type="number" step="0.01" name="north_coordinate"  value="{{location.north_coordinate}}">
        <label>East coordinate</label>
        <input type="number"  step="0.01" name="east_coordinate"  value="{{location.east_coordinate}}">
        <input type="submit" value="Modify" />
        </form>






      </div>
{% endblock %}
