body{
  text-align: center;
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #616161;

}
.username:hover {
  color:white;
}
.container{
padding-top:0;
margin-top:0;
margin-left: 5%;
margin-right:5%;
background-color: white;
}

.text{
  text-align: left;
  font-size: 18px;
  padding-left:15%;
  padding-right: 15%;
}

h1 {
  padding-top: 1%;
  font-size: 60px;
  color: #0f1136;
  font-family: 'Indie Flower', sans-serif;
}


.logo{
  font-family: 'Indie Flower', sans-serif;
  font-size: 21px;
}
img{
  padding-right:5px;
}
.menu {
  overflow: hidden;
  margin-bottom: 3%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff5f3b;
}

.menu li {
  float: left;
  font-size: 18px;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 24px;
  text-decoration: none;
}

form {
  font-size: 22px;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 10px;
}
/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  color: #0f1136;
}
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 22px;
}

#details {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: white;
}
